<!DOCTYPE html>
<html lang="en" style="background-color: var(--bs-orange);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nojar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    
    <link rel="icon" href="/assets/img/logoMin.png" type="image/icon type">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3 border-bottom" style="margin-bottom: 2rem;">
        <div class="container" ><a class="navbar-brand d-flex align-items-center" href="#">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                    <img src="/assets/img/Logo.png" alt="Nojar" height="75" width="150"/>
                </span>
            </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/" id="indexLink"><h5>Inicio</h5></a></li>
                    <li class="nav-item"><a class="nav-link" href="/sobreNosotros" id="aboutUsLink"><h5>Nosotros</h5></a></li>
                    <li class="nav-item"><a class="nav-link" href="/solicitud" id="prestamoLink"><h5>Solicitar Prestamo</h5></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" id="contactLink"><h5>Contactos</h5></a></li>
                </ul>
            </div>
        </div>
    </nav>
    