<div class="card" style="margin-top: 1rem;" id="referencias" hidden>
    <div class="card-header" style="text-align: center;">
        <h5>Referencias</h5>
    </div>

    <div class="card-body" style="padding-left: 16px;padding-right: 10px;margin-left: 13px;margin-right: 13px">
        <div class="row g-2">

            <h5 class="card-title">Referencias Comerciales</h5>
            <div class="form-floating col-md-4 mb-3">
                <input type="text" class="form-control" id="comercial1" name="comercial1" placeholder="name@example.com" required>
                <label for="comercial1" style="color: gray;">Nombre</label>
            </div>

            <div class="form-floating col-md-4 mb-3">
                <textarea class="form-control"  id="comercial1Add" name="comercial1Add" required></textarea>
                <label for="comercial1Add">Direccion</label>
            </div>

            <div class="form-floating col-md-4 mb-3">
                <input type="text" class="form-control" id="comercial1phone" name="comercial1phone" placeholder="name@example.com" required>
                <label for="comercial1phone" style="color: gray;">Telefono</label>
            </div>



            <div class="form-floating col-md-4 mb-3">
                <input type="email" class="form-control" id="comercial2" name="comercial2" placeholder="name@example.com" required>
                <label for="comercial2" style="color: gray;">Nombre</label>
            </div>

            <div class="form-floating col-md-4 mb-3">
                <textarea class="form-control"  id="comercial2Add" name="comercial2Add" required></textarea>
                <label for="comercial2Add">Direccion</label>
            </div>

            <div class="form-floating col-md-4 mb-3">
                <input type="text" class="form-control" id="comercial2Phone" name="comercial2Phone" placeholder="name@example.com" required>
                <label for="comercial2Phone" style="color: gray;">Telefono</label>
            </div>



            <h5 class="card-title">Referencias Familiares</h5>
            <div class="form-floating col-md-3 mb-3">
                <input type="text" class="form-control" id="family1" name="family1" required>
                <label for="family1" style="color: gray;">Nombre</label>
            </div>
            <div class="form-floating col-md-3 mb-3">
                <textarea class="form-control"  id="family1Relation" name="family1Relation" required></textarea>
                <label for="family1Relation">Parentesco</label>
            </div>
            <div class="form-floating col-md-3 mb-3">
                <textarea class="form-control" id="family1Add" name="family1Add" required></textarea>
                <label for="family1Add">Direccion</label>
            </div>

            <div class="form-floating col-md-3 mb-3">
                <input type="text" class="form-control" id="family1Phone" name="family1Phone" placeholder="name@example.com" required>
                <label for="family1Phone" style="color: gray;">Telefono</label>
            </div>

            


            <div class="form-floating col-md-3 mb-3">
                <input type="text" class="form-control" id="family2" name="family2" required>
                <label for="family2" style="color: gray;">Nombre</label>
            </div>
            <div class="form-floating col-md-3 mb-3">
                <textarea class="form-control"  id="family2Relation" name="family2Relation" required></textarea>
                <label for="family2Relation">Parentesco</label>
            </div>
            <div class="form-floating col-md-3 mb-3">
                <textarea class="form-control" id="family2Add" name="family2Add" required></textarea>
                <label for="family2Add">Direccion</label>
            </div>

            <div class="form-floating col-md-3 mb-3">
                <input type="text" class="form-control" id="family2Phone" name="family2Phone" placeholder="name@example.com" required>
                <label for="family2Phone" style="color: gray;">Telefono</label>
            </div>


            <div class="form-floating col-md-3 mb-3">
                <input type="text" class="form-control" id="family3" name="fmmily3" required>
                <label for="family3" style="color: gray;">Nombre</label>
            </div>
            <div class="form-floating col-md-3 mb-3">
                <textarea class="form-control"  id="family3Relation" name="family3Relation" required></textarea>
                <label for="family3Relation">Parentesco</label>
            </div>
            <div class="form-floating col-md-3 mb-3">
                <textarea class="form-control" id="family3Add" name="family3Add" required></textarea>
                <label for="family3Add">Direccion</label>
            </div>

            <div class="form-floating col-md-3 mb-3">
                <input type="text" class="form-control" id="family3Phone" name="family3Phone" placeholder="name@example.com" required>
                <label for="family3Phone" style="color: gray;">Telefono</label>
            </div>

            



            <div id="buttons4" class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                  <a href="#" class="btn btn-outline-primary" onclick="go('#referencias','#prestamo')">Datos del Prestamo</a>

                </div>
                <div class="input-group">
                    <a href="#" class="btn btn-outline-primary" onclick="go('#referencias','#coSolicitante')">Datos del Co-Solicitante</a>
                </div>
            </div>
        </div>
        
        </div>
    </div>