<%- include('_header') -%>
    <div class="container-sm text-center">
        <img src="/assets/img/Logo.png" alt="Nojar" height="20%" width="40%"/>
    </div>

    <div class="container">
        <h5>
            Sobre Nosotros
        </h5>
        <p>
            NOJAR, SRL es una entidad financiera en la que trabajamos diariamente para mantener y
            consolidar aún más nuestra posición de liderazgo en el mercado, y que tiene como objeto social
            otorgar financiamiento de menor cuantía a los empresarios de la pequeña y micro empresa. Con
            su oficina principal ubicada en la Calle del Sol, Plaza Mera, Tercer Nivel, Santiago de Los
            Caballeros, Rep. Dom.<br/>
            Nace gracias a la iniciativa de los jóvenes empresarios el Jarvis Vargas y Noel Pérez, por una
            inquietante motivación de abrir una empresa con el concepto de préstamos diarios de rápida
            aprobación, plazos y cuotas cómodas, tasa competitiva y entrega a domicilio.
        </p>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-2 d-none d-sm-block">
                <img src="/assets/img/Mesa de trabajo 2.png" alt="Misión Logo" height="150" width="130" />
            </div>
            <div class="col-10">
                <h5>Misión</h5>
                <p>
                    Ser la institución financiera preferida por la micro y pequeña empresa del país, a través
                    de soluciones financieras innovadoras y rentables, ofreciendo servicios con eficiencia
                    que faciliten el impulso y crecimiento a su negocio.
                </p>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-2 d-none d-sm-block">
                <img src="/assets/img/Mesa de trabajo 3.png" alt="Visión Logo" height="150" width="130"/>
            </div>
            <div class="col-10">
                <h5>Vision</h5>
                <p>
                    "Ser líder en ofrecer soluciones financieras a nuestro mercado objetivo, comprometiéndose a
                    manejar las mejores opciones de crédito, brindando calidad de servicio, eficiencia y
                    oportunidad."
                </p>
            </div>
        </div>

    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-2 d-none d-sm-block">
                <img src="/assets/img/Mesa de trabajo 4.png" alt="Valores Logo" height="150" width="130"/>
            </div>
            <div class="col-10">
                <h5>Valores</h5>
                <p>
                    Nuestra cultura organizacional está orientada con valores corporativos que enmarcan el
                    direccionamiento del negocio. Todos interiorizamos estos valores y los practicamos porque
                    hacen parte de nuestras vidas e interactúan en los contextos en que nos desenvolvemos.
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
    <script>
        window.onload = function() {
            $('#aboutUsLink').addClass('active')
        }
    </script>
<%- include('_footer') -%>